#block-613c14df81110d39d1bab5b7 {
padding: 50px;;
color: BLACK;
}

#block-613c14df81110d39d1bab5b7{
  background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border: solid 2px Black
}
@media screen and (max-width: 640px) {#block-613c14df81110d39d1bab5b7{padding: 10px} 
}

#collection-613c14c8b6a38148d095e901 { background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;}

#block-e561f766fbc9bf1471f2 {background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border: solid 2px Black;
  padding: 30px;;
  color: BLACK;
}
@media screen and (max-width: 640px) {#block-e561f766fbc9bf1471f2 {padding: 10px}
}

#block-yui_3_17_2_1_1632675231347_80641 {background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  border-top: solid 2px Black;
  padding: 30px;;
  color: BLACK;
}
@media screen and (max-width: 640px) {#block-yui_3_17_2_1_1632675231347_80641 {padding: 10px}
}

#block-0ceb5ed43428220d5527 {background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  padding: 30px;;
  color: BLACK;
}
@media screen and (max-width: 640px) {#block-0ceb5ed43428220d5527 {padding: 10px}
}

#block-4318d20cbadfd6a8eefd
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border: solid 2px Black;
  padding: 30px;;
  color: BLACK;
}
@media screen and (max-width: 640px) {#block-4318d20cbadfd6a8eefd {padding: 10px}
}


#block-yui_3_17_2_1_1632672037528_29505 {background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border: solid 2px Black;
  padding: 30px;;
  color: BLACK;
}
@media screen and (max-width: 640px) {#block-yui_3_17_2_1_1632672037528_29505 {padding: 10px}
}

#block-yui_3_17_2_1_1632672037528_3633
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border: solid 2px Black;
  padding: 30px;;
  color: BLACK;
}
@media screen and (max-width: 640px) {#block-yui_3_17_2_1_1632672037528_29505 {padding: 10px}
}


#block-yui_3_17_2_1_1632672037528_20916
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border: solid 2px Black;
  padding: 30px;;
  color: BLACK;
}

@media screen and (max-width: 640px) {#block-yui_3_17_2_1_1632672037528_20916 {padding: 10px}
}

#block-yui_3_17_2_1_1632675820228_11964 {background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border: solid 2px Black;
  padding: 30px;;
  color: BLACK;
}
@media screen and (max-width: 640px) {#block-yui_3_17_2_1_1632672037528_20916 {padding: 10px;}
}


#block-yui_3_17_2_1_1632675936962_5239, #block-yui_3_17_2_1_1632675936962_5583,
#block-yui_3_17_2_1_1632675936962_35755,
#block-yui_3_17_2_1_1632677026132_16280,
#block-yui_3_17_2_1_1632676714496_37490,
#block-yui_3_17_2_1_1632676714496_29895,
#block-yui_3_17_2_1_1632675936962_48937,
#block-yui_3_17_2_1_1632675936962_46618,
#block-yui_3_17_2_1_1632676714496_37151,
#block-yui_3_17_2_1_1632677026132_15939,
#block-yui_3_17_2_1_1632676714496_24188

{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  padding-left: 30px;
  color: BLACK;
}

#block-yui_3_17_2_1_1632675936962_35416,
#block-yui_3_17_2_1_1632675936962_46618,
#block-yui_3_17_2_1_1632676714496_37151,
#block-yui_3_17_2_1_1632677026132_15939,

{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-left: solid 2px Black;
  padding-left: 30px;
  color: BLACK;
}

#block-yui_3_17_2_1_1632675936962_42299,
#block-yui_3_17_2_1_1632675936962_39194,
#block-yui_3_17_2_1_1632677026132_21892,
#block-yui_3_17_2_1_1632676714496_40308,
#block-yui_3_17_2_1_1632676714496_33172,
#block-yui_3_17_2_1_1632680365296_30227
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-right: solid 2px Black;
  padding-left: 30px;
  padding-right: 30px;
  color: BLACK;
}

@media screen and (max-width: 640px) {#block-yui_3_17_2_1_1632675936962_39194,
  #block-yui_3_17_2_1_1632675936962_35416{padding: 10px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;}

#block-yui_3_17_2_1_1632675936962_39194
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-left: 30px;
  color: BLACK;
}

#block-yui_3_17_2_1_1632675936962_22999
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-right: solid 2px Black;
  padding: 30px;;
  color: BLACK;
}
}

#block-48f3132b24b28da2a9f2,
#block-e9186e406598390b1a84,
#block-f7367085f4df58047a3f,
#block-9eef8264df54a633ed78,
#block-c84cb6001e3c9e9ab709,
#block-f4a8c49a809a81f5f970,
#block-418e3618978c6073155f,
#block-dcdc5436a6ada3602f64,
#block-yui_3_17_2_1_1632692888242_5273,
#block-yui_3_17_2_1_1632692960490_5886
{
  background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border: solid 2px Black
}

#block-4d23091bb0a7e0599bb9
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-top: solid 2px Black;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }
@media screen and (max-width: 640px) {#block-4d23091bb0a7e0599bb9 {padding: 10px}
}


#block-yui_3_17_2_1_1632689542283_4919,
#block-yui_3_17_2_1_1632689542283_5271,
#block-yui_3_17_2_1_1632689542283_13037,
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }

#block-yui_3_17_2_1_1632689542283_13377,
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  border-bottom: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }

#block-yui_3_17_2_1_1632689188965_6645,
#block-yui_3_17_2_1_1632689268609_5732,
#block-yui_3_17_2_1_1632689268609_7959,
#block-yui_3_17_2_1_1632693781294_26135,
#block-yui_3_17_2_1_1632693781294_28741
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }

#block-yui_3_17_2_1_1632695389768_8825
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }

#block-yui_3_17_2_1_1632694637388_4017,
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }

#block-f3379908c4e3c8a2c4ea
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-top: solid 2px Black;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }

@media screen and (max-width: 642px) {#block-f3379908c4e3c8a2c4ea,
#block-yui_3_17_2_1_1632698791551_4673,
#block-yui_3_17_2_1_1632698791551_5029,
#block-yui_3_17_2_1_1632699668305_9111,
#block-yui_3_17_2_1_1632699668305_9454,
#block-yui_3_17_2_1_1632699668305_18425,
#block-yui_3_17_2_1_1632699668305_18767,
#block-yui_3_17_2_1_1632699668305_22079,
#block-yui_3_17_2_1_1632699668305_22421,
#block-yui_3_17_2_1_1632698791551_11621,
#block-yui_3_17_2_1_1632698791551_15436,
#block-yui_3_17_2_1_1632698791551_17488,
#block-yui_3_17_2_1_1632700490581_13348,
#block-yui_3_17_2_1_1632700490581_13702,
#block-yui_3_17_2_1_1632700490581_19148,
#block-yui_3_17_2_1_1632700490581_19488,
  #block-yui_3_17_2_1_1632700490581_25088,
  {padding: 10px}}

@media screen and (max-width: 640px){#block-yui_3_17_2_1_1632700490581_25429,
{padding: 10px}}

#block-yui_3_17_2_1_1632698791551_4673,
#block-yui_3_17_2_1_1632698791551_5029,
#block-yui_3_17_2_1_1632699668305_9111,
#block-yui_3_17_2_1_1632699668305_9454,
#block-yui_3_17_2_1_1632699668305_18425,
#block-yui_3_17_2_1_1632699668305_18767,
#block-yui_3_17_2_1_1632699668305_22079,
#block-yui_3_17_2_1_1632699668305_22421,
#block-yui_3_17_2_1_1632698791551_11621,
#block-yui_3_17_2_1_1632698791551_15436,
#block-yui_3_17_2_1_1632698791551_17488,
#block-yui_3_17_2_1_1632700490581_13348,
#block-yui_3_17_2_1_1632700490581_13702,
#block-yui_3_17_2_1_1632700490581_19148,
#block-yui_3_17_2_1_1632700490581_19488,
#block-yui_3_17_2_1_1632700490581_25088,
#block-yui_3_17_2_1_1632700490581_25429,
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }
#block-yui_3_17_2_1_1632700751800_19349,
#block-yui_3_17_2_1_1632700751800_25478
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }


#block-yui_3_17_2_1_1632698791551_17834
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  border-bottom: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }



#block-yui_3_17_2_1_1632702431851_10913
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-top: solid 2px Black;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }











#block-yui_3_17_2_1_1632705365708_84472
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  border-bottom: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }


























#block-yui_3_17_2_1_1632671926702_2306
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-top: solid 2px Black;
  border-right: solid 2px Black;
  border-bottom: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }



#block-yui_3_17_2_1_1632671926702_4134
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }






#block-yui_3_17_2_1_1632704758080_6306
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  border-bottom: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }





#block-yui_3_17_2_1_1632671926702_2306,
#block-yui_3_17_2_1_1632704758080_4614
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  border-right: solid 2px Black;
  border-bottom: solid 2px Black;
  padding: 30px;;
  color: BLACK;
  }










#block-yui_3_17_2_1_1632705365708_84133,
#block-yui_3_17_2_1_1632705365708_75282,
#block-yui_3_17_2_1_1632705365708_74941,
#block-yui_3_17_2_1_1632705365708_67919,
#block-yui_3_17_2_1_1632705365708_67580,
#block-yui_3_17_2_1_1632705365708_64286,
#block-yui_3_17_2_1_1632705365708_63947,
#block-yui_3_17_2_1_1632705365708_58158,
#block-yui_3_17_2_1_1632705365708_57818,
#block-yui_3_17_2_1_1632705029207_5265,
#block-yui_3_17_2_1_1632705029207_8950,
#block-yui_3_17_2_1_1632704227223_4325{
background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black
}





































#block-yui_3_17_2_1_1632713542659_19737,
#block-yui_3_17_2_1_1632713542659_14771,
#block-yui_3_17_2_1_1632713542659_16022,
#block-e180d1a200b2cb7635c6,
#block-yui_3_17_2_1_1632713542659_17241,
#block-2180d68b873b42d85aec{
background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border: solid 2px Black
}





#block-yui_3_17_2_1_1632723809457_29602{
background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border: solid 2px Black;
}







#block-yui_3_17_2_1_1632723809457_29262,
#block-yui_3_17_2_1_1632723809457_25466,
#block-yui_3_17_2_1_1632723809457_25122,
#block-yui_3_17_2_1_1632723809457_21533,
#block-yui_3_17_2_1_1632723809457_21193,
#block-yui_3_17_2_1_1632723809457_17625,
#block-yui_3_17_2_1_1632723809457_17282,
#block-yui_3_17_2_1_1632723143339_39842,
#block-yui_3_17_2_1_1632723143339_39502,
#block-yui_3_17_2_1_1632723143339_35334,
#block-yui_3_17_2_1_1632723143339_34991,
#block-yui_3_17_2_1_1632723143339_31636,
#block-yui_3_17_2_1_1632723143339_31291,
#block-yui_3_17_2_1_1632723143339_28942,
#block-yui_3_17_2_1_1632723143339_22814,
#block-yui_3_17_2_1_1632723143339_11123,
#block-yui_3_17_2_1_1632723143339_10775,
#block-yui_3_17_2_1_1632722893308_11025,
#block-yui_3_17_2_1_1632722893308_10686,
#block-yui_3_17_2_1_1632722893308_7900,
#block-yui_3_17_2_1_1632722893308_7549,
#block-yui_3_17_2_1_1632722596330_6897,
#block-yui_3_17_2_1_1632722596330_6542,
#block-yui_3_17_2_1_1632722340975_10360,
#block-yui_3_17_2_1_1632722340975_10020,
#block-yui_3_17_2_1_1632722340975_3874,
#block-yui_3_17_2_1_1632722340975_3512,
#block-5c4fcc4efa9fdbd38cd9{
background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black
}



#block-yui_3_17_2_1_1632724534310_22511{
background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  border-top: solid 2px Black;
}


















#block-yui_3_17_2_1_1632716494780_93696,
#block-yui_3_17_2_1_1632716494780_61695,
#block-yui_3_17_2_1_1632716494780_59621,
#block-f6d52b216fdd7618d948{
background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border: solid 2px Black;
}







#block-yui_3_17_2_1_1632760454702_10446,
#block-yui_3_17_2_1_1632759909157_9106
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border: solid 2px Black;
}





#block-yui_3_17_2_1_1632726400027_2482,
#block-yui_3_17_2_1_1632760564343_7338
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-left: 200px;
  padding-right:600px;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
}

@media screen and (max-width: 640px) {#block-yui_3_17_2_1_1632760564343_7338, #block-yui_3_17_2_1_1632726400027_2482 {padding: 10px}
}



#block-yui_3_17_2_1_1632760564343_9139
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
}




#block-84f9dda888b94d115b6d,
#block-yui_3_17_2_1_1632726400027_2835,
#block-yui_3_17_2_1_1632726742566_10049,
#block-yui_3_17_2_1_1632726742566_8562,
#block-yui_3_17_2_1_1632726742566_5278,
#block-yui_3_17_2_1_1632726742566_4934,
#block-yui_3_17_2_1_1632726570587_4028,
#block-yui_3_17_2_1_1632726570587_3686
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
}




#block-yui_3_17_2_1_1632760564343_7681
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  border-bottom: solid 2px Black;
}






#block-yui_3_17_2_1_1632760898222_1983{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  border-top: solid 2px Black;
}





#block-yui_3_17_2_1_1632763811768_7969,
#block-yui_3_17_2_1_1632763811768_5862,
#block-yui_3_17_2_1_1632763811768_5520,
#block-yui_3_17_2_1_1632763722784_3285,
#block-yui_3_17_2_1_1632763722784_2941,
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
}




#block-yui_3_17_2_1_1632763811768_8310,
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  border-bottom: solid 2px Black;
}


#block-yui_3_17_2_1_1632792139887_11109,
#block-yui_3_17_2_1_1632792139887_11822
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border: solid 2px Black;
}


#block-yui_3_17_2_1_1632792139887_10348
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
}




#block-yui_3_17_2_1_1632791873322_47367,
#block-yui_3_17_2_1_1632791873322_46675
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
}




#block-yui_3_17_2_1_1632793045074_11616
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  border-top: solid 2px Black;
}

#block-yui_3_17_2_1_1632793045074_12498
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-top: solid 2px Black;
}




















#block-yui_3_17_2_1_1632792831977_6114,
#block-yui_3_17_2_1_1632793235355_29205
#block-yui_3_17_2_1_1632792831977_11965
#block-yui_3_17_2_1_1632792831977_6114,
#block-yui_3_17_2_1_1632792831977_5768,
#block-yui_3_17_2_1_1632766957389_6109,
#block-yui_3_17_2_1_1632766957389_5767
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
}


#block-yui_3_17_2_1_1632792831977_11965
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  border-bottom: solid 2px Black;
  border-top: solid 2px Black;
}



#block-yui_3_17_2_1_1632793235355_29205
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-bottom: solid 2px Black;
  border-top: solid 2px Black;
}

#block-yui_3_17_2_1_1632724960916_7016
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-right: solid 2px Black;
  border-top: solid 2px Black;
}






#block-yui_3_17_2_1_1632793775588_29393
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-left: solid 2px Black;
  border-bottom: solid 2px Black;
  border-top: solid 2px Black;
}


#block-yui_3_17_2_1_1632793775588_24855
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-bottom: solid 2px Black;
  border-top: solid 2px Black;
  border-left: solid 2px Black;
}



#block-yui_3_17_2_1_1632793645956_27404
  {background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-bottom: solid 2px Black;
  border-top: solid 2px Black;
  border-left: solid 2px Black;
  }

#block-yui_3_17_2_1_1632793645956_29129
 {background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-bottom: solid 2px Black;
  border-top: solid 2px Black;
  }




#block-yui_3_17_2_1_1635373191566_2296
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-top: solid 2px Black;
  }

#block-yui_3_17_2_1_1636868296082_16047
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  }

#block-yui_3_17_2_1_1636868296082_16386,
#block-yui_3_17_2_1_1636868296082_16386,
#block-yui_3_17_2_1_1635373191566_6219,
#block-6179d07cdb2d7029ba70fe8c,
#block-yui_3_17_2_1_1635373191566_6622,
#block-yui_3_17_2_1_1635375053836_9450,
#block-yui_3_17_2_1_1635375053836_12470,
#block-yui_3_17_2_1_1635375053836_13948,
#block-yui_3_17_2_1_1635447745265_9763,
#block-yui_3_17_2_1_1635446790165_12975,
#block-yui_3_17_2_1_1635373191566_14602,
#block-yui_3_17_2_1_1635805176798_12941,
#block-yui_3_17_2_1_1635706812746_10951,
#block-yui_3_17_2_1_1635706812746_12688,
#block-yui_3_17_2_1_1635373191566_15033,
#block-yui_3_17_2_1_1635373191566_15294,
#block-yui_3_17_2_1_1635373191566_15814,
#block-yui_3_17_2_1_1635373191566_16086,
#block-yui_3_17_2_1_1635373191566_18435,
#block-yui_3_17_2_1_1635373191566_16440,
#block-yui_3_17_2_1_1635373191566_16694,
#block-yui_3_17_2_1_1635373191566_17188,
#block-yui_3_17_2_1_1635373191566_17461,
#block-yui_3_17_2_1_1635373191566_17843,
#block-yui_3_17_2_1_1635373191566_18792,
#block-yui_3_17_2_1_1635373191566_18097,
#block-yui_3_17_2_1_1635374557834_5683,
#block-yui_3_17_2_1_1635374557834_6038,
#block-yui_3_17_2_1_1635374557834_6441,
#block-yui_3_17_2_1_1635374557834_6805,
#block-yui_3_17_2_1_1635374557834_7063,
#block-yui_3_17_2_1_1635374557834_7575,
#block-yui_3_17_2_1_1635374557834_7851,
#block-yui_3_17_2_1_1635374557834_9417,
#block-yui_3_17_2_1_1635374557834_10511,
#block-yui_3_17_2_1_1635374557834_10030,
#block-yui_3_17_2_1_1635374557834_9779,
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  }

#block-yui_3_17_2_1_1635374557834_10785
{background-image: url(https://i.imgur.com/LhxKJpU.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-bottom: solid 2px Black;
  }
#block-yui_3_17_2_1_1640376116440_5354,
#block-306836f7e664338c3446,
#block-7052c006a7ec5850aebf,
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
}

#block-306836f7e664338c3446
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-bottom: solid 2px Black;
}
#block-e7e5bfaaadd033d280ea
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
   border-top: solid 2px Black;
}

#block-yui_3_17_2_1_1640376166965_6045,
#block-2c91c69fe2df1c281c4e
{background-image: url(https://i.imgur.com/bLuxnqQ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
}
#block-e9154c3cfcacf88c2a62,
{background-image: url(https://i.imgur.com/bLuxnqQ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-bottom: solid 2px Black;
}

#block-0ee929d0b72ceeb5535e
{background-image: url(https://i.imgur.com/bLuxnqQ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
   border-top: solid 2px Black;
}

#block-37ef282c206f9a5c1143
{background-image: url(https://i.imgur.com/WJZuiO0.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
   border-top: solid 2px Black;
}

#block-yui_3_17_2_1_1640377860067_3859
{background-image: url(https://i.imgur.com/WJZuiO0.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
}
#block-c991ff6dc02952cc4f99,
{background-image: url(https://i.imgur.com/WJZuiO0.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-bottom: solid 2px Black;
}

#block-7779849e1373e7aeef7c
{background-image: url(https://i.imgur.com/neMSrr0.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
   border-top: solid 2px Black;
}

#block-0d559834de33b3cbcbf7
{background-image: url(https://i.imgur.com/neMSrr0.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
}
#block-2327fd034636c25162f1,
{background-image: url(https://i.imgur.com/neMSrr0.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-bottom: solid 2px Black;
}

#block-5d2b266e2902529a32dd
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-top: solid 2px Black;
}

#block-1ad47380961600932518,
#block-b6dba716b89782c9b9b2,
#block-98ffdf7d9d0310f15c7b,
#block-e0f51f31ba7288b08076,
#block-15ae0308281f8afb165e,
#block-c54c12794ed3efc0470e,
#block-9a886287de5c8e9f66f4,
#block-92b6447e558bf2ad6c06,
#block-yui_3_17_2_1_1639699825406_9013,
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
}

#block-yui_3_17_2_1_1639699825406_9348
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-bottom: solid 2px Black;
}



#block-6b0c509a243b8c7ee16a
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-top: solid 2px Black;
}
#block-yui_3_17_2_1_1640387904775_6294,
#block-yui_3_17_2_1_1638550482568_5836,
#block-2505c92296afa177fb65,
#block-caaa2c9018afc51c59bf,
#block-e6afe590b4c7f684a5da,
#block-75fb9bc73c803e47b9a6,
#block-9d47e471a9a9867c7f10,
#block-75fd14c7130180a6b529,
#block-dc3e567818746a4701a5,
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
}

#block-0c6e725e66b0c1295e57
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-bottom: solid 2px Black;
}

#block-yui_3_17_2_1_1620667881020_6687
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-top: solid 2px Black;
}


#block-43ca274abb8b325e84e1,
#block-yui_3_17_2_1_1620667881020_5595,
#block-yui_3_17_2_1_1620667881020_5664,
#block-yui_3_17_2_1_1620667881020_4769,
#block-yui_3_17_2_1_1620667715822_3225,
#block-yui_3_17_2_1_1620667715822_3287,
#block-yui_3_17_2_1_1620667715822_4216

{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
}

#block-yui_3_17_2_1_1620667715822_4277
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-bottom: solid 2px Black;
}



/*TBC Warrior DPS Guide*/

#block-9bb2479a9cc85b8f1232
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-top: solid 2px Black;
}


#block-yui_3_17_2_1_1620673028282_15720,
#block-yui_3_17_2_1_1620533854363_3053,
#block-yui_3_17_2_1_1629478472966_27154,
#block-yui_3_17_2_1_1620678231458_24973,
#block-yui_3_17_2_1_1620664605340_31268,
#block-yui_3_17_2_1_1620664605340_29181,
#block-yui_3_17_2_1_1620664605340_32480,
#block-yui_3_17_2_1_1620664605340_32541,
#block-yui_3_17_2_1_1629478776774_31824,
#block-yui_3_17_2_1_1629478776774_27435,
#block-yui_3_17_2_1_1629478776774_34240,
#block-yui_3_17_2_1_1629848432189_42496,
#block-yui_3_17_2_1_1620663813649_33269,
#block-yui_3_17_2_1_1620663813649_30264,
#block-yui_3_17_2_1_1620663813649_32245,
#block-yui_3_17_2_1_1620664605340_21039,
#block-yui_3_17_2_1_1620663813649_10131,
#block-yui_3_17_2_1_1620682018452_32918,
#block-yui_3_17_2_1_1629478776774_37406,
#block-yui_3_17_2_1_1620663813649_27636,
#block-yui_3_17_2_1_1620663813649_22103,
#block-yui_3_17_2_1_1620663813649_5846,
#block-yui_3_17_2_1_1620682018452_27979,
#block-yui_3_17_2_1_1629478776774_41881,
#block-yui_3_17_2_1_1620681301949_36292,
#block-yui_3_17_2_1_1620681301949_30816,
#block-yui_3_17_2_1_1620681301949_26501,
#block-yui_3_17_2_1_1629478776774_46240,
#block-yui_3_17_2_1_1620664605340_10609,
#block-yui_3_17_2_1_1620664605340_11826,
#block-yui_3_17_2_1_1620664605340_16216,
#block-yui_3_17_2_1_1620533854363_4501,
#block-yui_3_17_2_1_1629478776774_50628,
#block-yui_3_17_2_1_1620673028282_73289,
#block-yui_3_17_2_1_1629848432189_44538,
#block-yui_3_17_2_1_1620670963147_20634,
#block-yui_3_17_2_1_1620673028282_50205,
#block-yui_3_17_2_1_1620673028282_53304,
#block-yui_3_17_2_1_1620673028282_40519,
#block-yui_3_17_2_1_1629478776774_54809,
#block-yui_3_17_2_1_1620673028282_64235,
#block-yui_3_17_2_1_1629479208692_81978,
#block-yui_3_17_2_1_1629848432189_46477,
#block-yui_3_17_2_1_1620673028282_60422,
#block-yui_3_17_2_1_1620673028282_60511,
#block-yui_3_17_2_1_1620673028282_62326,
#block-yui_3_17_2_1_1629479208692_71900,
#block-yui_3_17_2_1_1620673028282_62411,
#block-yui_3_17_2_1_1629479208692_65687,
#block-yui_3_17_2_1_1629479208692_65753,
#block-yui_3_17_2_1_1629479208692_66892,
#block-yui_3_17_2_1_1629479208692_61621,
#block-yui_3_17_2_1_1629479208692_66955,
#block-yui_3_17_2_1_1629479208692_67866,
#block-yui_3_17_2_1_1629479208692_67929,
#block-yui_3_17_2_1_1629479208692_39448,
#block-yui_3_17_2_1_1629479208692_52502,
#block-yui_3_17_2_1_1629479208692_36928,
#block-yui_3_17_2_1_1629479208692_37017,
#block-yui_3_17_2_1_1629479888899_41746,
#block-yui_3_17_2_1_1629479888899_41816,
#block-yui_3_17_2_1_1629478776774_57901,
#block-yui_3_17_2_1_1629478776774_56975,
#block-yui_3_17_2_1_1629478776774_77798,
#block-yui_3_17_2_1_1629848432189_47007,
#block-yui_3_17_2_1_1620668037068_17979,
#block-yui_3_17_2_1_1620668037068_18065,
#block-yui_3_17_2_1_1620668037068_16402,
#block-yui_3_17_2_1_1620668037068_16510,
#block-yui_3_17_2_1_1629478776774_76619,
#block-yui_3_17_2_1_1629478776774_76685,
#block-yui_3_17_2_1_1629478776774_75478,
#block-yui_3_17_2_1_1629478776774_75544,
#block-yui_3_17_2_1_1629478776774_58472,
#block-yui_3_17_2_1_1620674162335_55286,
#block-yui_3_17_2_1_1629848432189_47527,
#block-yui_3_17_2_1_1620674162335_53206,
#block-yui_3_17_2_1_1620674162335_53281,
#block-yui_3_17_2_1_1620674162335_51089,
#block-yui_3_17_2_1_1620674162335_51169,
#block-yui_3_17_2_1_1629478776774_59062,
#block-yui_3_17_2_1_1629478776774_65806,
#block-yui_3_17_2_1_1629848432189_48045,
#block-yui_3_17_2_1_1620673558860_21804,
#block-yui_3_17_2_1_1620673558860_21878,
#block-yui_3_17_2_1_1620673558860_23780,
#block-yui_3_17_2_1_1620673558860_23848,
#block-yui_3_17_2_1_1629478776774_66843,
#block-yui_3_17_2_1_1629478776774_67454,
#block-yui_3_17_2_1_1629478776774_70202,
#block-yui_3_17_2_1_1629848432189_48564,
#block-yui_3_17_2_1_1620673558860_27320,
#block-yui_3_17_2_1_1620673558860_27388,
#block-yui_3_17_2_1_1620673558860_30558,
#block-yui_3_17_2_1_1620673558860_30623,
#block-yui_3_17_2_1_1629478776774_70764,
#block-yui_3_17_2_1_1629478776774_70830,
#block-yui_3_17_2_1_1629478776774_68317,
#block-yui_3_17_2_1_1620675693297_38593,
#block-yui_3_17_2_1_1629848432189_51355,
#block-yui_3_17_2_1_1620675693297_31281,
#block-yui_3_17_2_1_1620675693297_33467,
#block-yui_3_17_2_1_1620675693297_36836,
#block-yui_3_17_2_1_1620675693297_31358,
#block-yui_3_17_2_1_1629478776774_69640,
#block-yui_3_17_2_1_1629478776774_68946,
#block-yui_3_17_2_1_1629848432189_54224,
#block-yui_3_17_2_1_1620675813272_40621,
#block-yui_3_17_2_1_1620675813272_40686,
#block-yui_3_17_2_1_1620675813272_43051,
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
}


#block-yui_3_17_2_1_1620676023320_24904
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-bottom: solid 2px Black;
}


/*Combat Ratings for The Burning Crusade*/

#block-yui_3_17_2_1_1619884772918_2027
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-top: solid 2px Black;
}

#block-yui_3_17_2_1_1619884772918_3461,
#block-yui_3_17_2_1_1619884772918_2889,
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
}

#block-cfb987a98dbbae75db4c
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-bottom: solid 2px Black;
}


/*Protection Warrior TBC*/

#block-yui_3_17_2_1_1619898789896_57495
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-top: solid 2px Black;
}


#block-yui_3_17_2_1_1619898927933_58619,
#block-yui_3_17_2_1_1619898789896_66037,
#block-d2e0bfc71fa9067e5c86,
#block-yui_3_17_2_1_1619886288038_261061,
#block-yui_3_17_2_1_1619886288038_261122,
#block-yui_3_17_2_1_1628781383279_67470,
#block-yui_3_17_2_1_1628781383279_66963,
#block-yui_3_17_2_1_1619885148074_81547,
#block-yui_3_17_2_1_1619885148074_92507,
#block-yui_3_17_2_1_1619886288038_273220,
#block-yui_3_17_2_1_1619886288038_273281,
#block-yui_3_17_2_1_1628781383279_71816,
#block-yui_3_17_2_1_1628781383279_71338,
#block-yui_3_17_2_1_1629846645433_76953,
#block-yui_3_17_2_1_1619886288038_263494,
#block-yui_3_17_2_1_1619886288038_263573,
#block-yui_3_17_2_1_1619886288038_270801,
#block-yui_3_17_2_1_1619886288038_270866,
#block-yui_3_17_2_1_1628781383279_73037,
#block-yui_3_17_2_1_1628781383279_72535,
#block-yui_3_17_2_1_1619886288038_265934,
#block-yui_3_17_2_1_1619886288038_266005,
#block-yui_3_17_2_1_1619886288038_268357,
#block-yui_3_17_2_1_1619886288038_268427,
#block-yui_3_17_2_1_1628781383279_74735,
#block-yui_3_17_2_1_1628781383279_74231,
#block-yui_3_17_2_1_1629846645433_80228,
#block-yui_3_17_2_1_1619886288038_280741,
#block-yui_3_17_2_1_1619886288038_280809,
#block-yui_3_17_2_1_1619886288038_283147,
#block-yui_3_17_2_1_1619886288038_283213,
#block-yui_3_17_2_1_1628781383279_75819,
#block-yui_3_17_2_1_1628781383279_75327,
#block-yui_3_17_2_1_1629846645433_83297,
#block-yui_3_17_2_1_1619886288038_287246,
#block-yui_3_17_2_1_1619886288038_287311,
#block-yui_3_17_2_1_1619886288038_289639,
#block-yui_3_17_2_1_1619886288038_289700,
#block-yui_3_17_2_1_1619886288038_89573,
#block-yui_3_17_2_1_1619886288038_105907,
#block-yui_3_17_2_1_1619886288038_125864,
#block-yui_3_17_2_1_1619886288038_126167,
#block-yui_3_17_2_1_1619886288038_126167,
#block-yui_3_17_2_1_1619886288038_140278,
#block-yui_3_17_2_1_1619886288038_166858,
#block-yui_3_17_2_1_1619886288038_170374,
#block-yui_3_17_2_1_1619886288038_184216,
#block-yui_3_17_2_1_1619886288038_219225,
#block-yui_3_17_2_1_1619886288038_225166,
#block-yui_3_17_2_1_1619886288038_246047,
#block-yui_3_17_2_1_1619886288038_295285,
#block-yui_3_17_2_1_1619886288038_300565,
#block-yui_3_17_2_1_1619886288038_236041,
#block-yui_3_17_2_1_1628781383279_76386,
#block-yui_3_17_2_1_1628781383279_76918,
#block-yui_3_17_2_1_1629846645433_83823,
#block-yui_3_17_2_1_1619886288038_318491,
#block-yui_3_17_2_1_1619886288038_311058,
#block-yui_3_17_2_1_1619886288038_319977,
#block-yui_3_17_2_1_1619886288038_323933,
#block-yui_3_17_2_1_1619886288038_382413,
#block-yui_3_17_2_1_1619886288038_387567,
#block-yui_3_17_2_1_1619886288038_483133,
#block-yui_3_17_2_1_1619886288038_487688,
#block-yui_3_17_2_1_1619886288038_491666,
#block-yui_3_17_2_1_1628781383279_82728,
#block-yui_3_17_2_1_1628781383279_82231,
#block-yui_3_17_2_1_1629846645433_84356,
#block-yui_3_17_2_1_1619886288038_513317,
#block-yui_3_17_2_1_1619886288038_507020,
#block-yui_3_17_2_1_1619886288038_514790,
#block-yui_3_17_2_1_1619886288038_517661,
#block-yui_3_17_2_1_1619886288038_526686,
#block-yui_3_17_2_1_1619886288038_565034,
#block-yui_3_17_2_1_1628781383279_86919,
#block-yui_3_17_2_1_1629846645433_84873,
#block-yui_3_17_2_1_1628781383279_86425,
#block-yui_3_17_2_1_1619890559068_38984,
#block-yui_3_17_2_1_1619890559068_32734,
#block-yui_3_17_2_1_1619890559068_40544,
#block-yui_3_17_2_1_1619890559068_42113,
#block-yui_3_17_2_1_1619890559068_54334,
#block-yui_3_17_2_1_1619890559068_63880,
#block-yui_3_17_2_1_1619890559068_52517,
#block-yui_3_17_2_1_1619890559068_83005,
#block-yui_3_17_2_1_1619890559068_91512,
#block-yui_3_17_2_1_1619890559068_107195,
#block-yui_3_17_2_1_1619890559068_102483,
#block-yui_3_17_2_1_1628781383279_88174,
#block-yui_3_17_2_1_1628781383279_87653,
#block-yui_3_17_2_1_1629846645433_85400,
#block-yui_3_17_2_1_1619890559068_150633,
#block-yui_3_17_2_1_1619890559068_152569,
#block-yui_3_17_2_1_1619890559068_157893,
#block-yui_3_17_2_1_1619890559068_168015,
#block-yui_3_17_2_1_1619890559068_185345,
#block-yui_3_17_2_1_1619890559068_172070,
#block-yui_3_17_2_1_1628781383279_89562,
#block-yui_3_17_2_1_1628781383279_88908,
#block-yui_3_17_2_1_1629846645433_85929,
#block-yui_3_17_2_1_1619893858251_45463,
#block-yui_3_17_2_1_1619893858251_45528,
#block-yui_3_17_2_1_1619893858251_46505,
#block-yui_3_17_2_1_1619893858251_46981,
#block-yui_3_17_2_1_1619893858251_71727,
#block-yui_3_17_2_1_1619893858251_72030,
#block-yui_3_17_2_1_1628781383279_90923,
#block-yui_3_17_2_1_1628781383279_90289,
#block-yui_3_17_2_1_1629846645433_86448,
#block-yui_3_17_2_1_1619893858251_107060,
#block-yui_3_17_2_1_1619893858251_95336,
#block-yui_3_17_2_1_1619893858251_109353,
#block-yui_3_17_2_1_1619893858251_111656,
#block-yui_3_17_2_1_1619893858251_116153,
#block-yui_3_17_2_1_1619893858251_132638,
#block-yui_3_17_2_1_1628781383279_92163,
#block-yui_3_17_2_1_1628781383279_91649,
#block-yui_3_17_2_1_1629846645433_86974,
#block-yui_3_17_2_1_1619895924225_42394,
#block-yui_3_17_2_1_1619895924225_42464,
#block-yui_3_17_2_1_1619895924225_45333,
#block-yui_3_17_2_1_1619895924225_47785,
#block-yui_3_17_2_1_1628781383279_92741,
#block-yui_3_17_2_1_1628781383279_93293,
#block-yui_3_17_2_1_1629846645433_87494,
#block-yui_3_17_2_1_1619895924225_57427,
#block-yui_3_17_2_1_1619895924225_52731,
#block-yui_3_17_2_1_1619895924225_59853,
#block-yui_3_17_2_1_1619895924225_62295,
#block-yui_3_17_2_1_1628781383279_94256,
#block-yui_3_17_2_1_1628781383279_93771,
#block-yui_3_17_2_1_1629846645433_88015,
#block-yui_3_17_2_1_1619895924225_76086,
#block-yui_3_17_2_1_1619895924225_71412,
#block-yui_3_17_2_1_1619895924225_78521,
#block-yui_3_17_2_1_1619895924225_80966,
#block-yui_3_17_2_1_1628781383279_95404,
#block-yui_3_17_2_1_1628781383279_94920,
#block-yui_3_17_2_1_1629846645433_88534,
#block-yui_3_17_2_1_1619895924225_90369,
#block-yui_3_17_2_1_1619895924225_85609,
#block-yui_3_17_2_1_1619895924225_92803,
#block-yui_3_17_2_1_1619895924225_95241,
#block-yui_3_17_2_1_1628781383279_96481,
#block-yui_3_17_2_1_1628781383279_95990,
#block-yui_3_17_2_1_1629846645433_89051,
#block-yui_3_17_2_1_1619895924225_107991,
#block-yui_3_17_2_1_1619895924225_103059,
#block-yui_3_17_2_1_1619895924225_110517,
#block-yui_3_17_2_1_1619896883969_54968,
#block-yui_3_17_2_1_1628781383279_97641,
#block-yui_3_17_2_1_1628781383279_97155,
#block-yui_3_17_2_1_1629846645433_89567,
#block-yui_3_17_2_1_1619896966204_56231,
#block-yui_3_17_2_1_1619896966204_51067,
#block-yui_3_17_2_1_1619896966204_58803,
#block-yui_3_17_2_1_1619896966204_61384,
#block-yui_3_17_2_1_1628781383279_98731,
#block-yui_3_17_2_1_1628781383279_98213,
#block-yui_3_17_2_1_1628781383279_98213,
#block-yui_3_17_2_1_1629846645433_90086,
#block-yui_3_17_2_1_1619897087580_110434,
#block-yui_3_17_2_1_1619897087580_105253,
#block-yui_3_17_2_1_1619897087580_11305,
#block-yui_3_17_2_1_1619897087580_113050,
#block-yui_3_17_2_1_1619897087580_115660,
#block-yui_3_17_2_1_1628781383279_99815,
#block-yui_3_17_2_1_1628781383279_99327,
#block-yui_3_17_2_1_1629846645433_90607,
#block-yui_3_17_2_1_1619897087580_138817,
#block-yui_3_17_2_1_1619897087580_133551,
#block-yui_3_17_2_1_1619897087580_141512,
#block-yui_3_17_2_1_1619897087580_144231,
#block-yui_3_17_2_1_1628781383279_100971,
#block-yui_3_17_2_1_1628781383279_100479,
#block-yui_3_17_2_1_1629846645433_91124,
#block-yui_3_17_2_1_1619897087580_157413,
#block-yui_3_17_2_1_1619897087580_152102,
#block-yui_3_17_2_1_1619897087580_160154,
#block-yui_3_17_2_1_1619897087580_162904,
#block-yui_3_17_2_1_1628781383279_102040,
#block-yui_3_17_2_1_1628781383279_101558,
#block-yui_3_17_2_1_1629846645433_91640,
#block-yui_3_17_2_1_1619898055948_57672,
#block-yui_3_17_2_1_1619898055948_60683,
#block-yui_3_17_2_1_1619898055948_66285,
#block-yui_3_17_2_1_1619898055948_69174,
#block-yui_3_17_2_1_1628781383279_103108,
#block-yui_3_17_2_1_1628781383279_102617,
#block-yui_3_17_2_1_1629846645433_92168,
#block-yui_3_17_2_1_1619898055948_83355,
#block-yui_3_17_2_1_1619898055948_75016,
#block-yui_3_17_2_1_1619898055948_86288,
#block-yui_3_17_2_1_1619898055948_89227,
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
}

#block-yui_3_17_2_1_1629846645433_92685
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-bottom: solid 2px Black;
}

#block-yui_3_17_2_1_1620149833578_17428
{background-image: url(https://i.imgur.com/ay05crJ.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  border-right: solid 2px Black;
  border-left: solid 2px Black;
  border-top: solid 2px Black;
}